# Non Parametric tests

# wilcoxon test

In [2]:
import pandas as pd
dataset=pd.read_excel('1 Wilcoxon.xlsx')

In [3]:
dataset.head()

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19
3   9    0   61    179.6      1         6         7         9        3
4  11    0   59    175.8      2         6         7        16       13

 H0 :There is no significant difference in the calcium level of the patient between initial calcium values and after 2 weeks.
 H1 :There is significant difference in the calcium level of the patient between initial calcium values and after 2 weeks.

In [7]:
from scipy.stats import wilcoxon
stats, p = wilcoxon(dataset.TOTALCIN, dataset.TOTALCW2)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

29.5 0.00259741456482452
alternative hypothesis H1 is accepted

# Friedman test

In [11]:
dataset.head()

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19
3   9    0   61    179.6      1         6         7         9        3
4  11    0   59    175.8      2         6         7        16       13

H0 - There is no significant difference in the calcium level of the patient intially, after 2 weeks and 4th week
H1 - There is significant difference in the calcium level of the patient intially, after 2 weeks and 4th week

In [14]:
from scipy.stats import friedmanchisquare

stats, p = friedmanchisquare(dataset.TOTALCIN, dataset.TOTALCW2, dataset.TOTALCW4)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

27.927710843373504 8.62133745016363e-07
alternative hypothesis H1 is accepted

# Mann-Whitney Test

In [20]:
dataset_2=pd.read_excel('4 Kruskal Wallis.xlsx')

In [21]:
dataset_2.head()

   Design1  Design2  Design3  Showroom
0       11       12       23         1
1       17       10       20         2
2       16       15       18         3
3       14       19       17         4
4       15       11       10         5

In [24]:
from scipy.stats import mannwhitneyu
stats , p = mannwhitneyu(dataset_2.Design1, dataset_2.Design2)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

9.0 0.2641796636354743
null hypothesis H0 is accepted

 # Kruskal-Wallis Test

In [25]:
dataset_2.head()

   Design1  Design2  Design3  Showroom
0       11       12       23         1
1       17       10       20         2
2       16       15       18         3
3       14       19       17         4
4       15       11       10         5

H0 - There is no significant difference in the sales of Design 1, Design 2 and Design 3

H1 - There is significant difference in the sales of Design 1, Design 2 and Design 3

In [28]:
from scipy.stats import kruskal
stats , p = kruskal(dataset_2.Design1, dataset_2.Design2, dataset_2.Design3)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

2.7345323741007226 0.25480259087913626
null hypothesis H0 is accepted

# Chi Square Test

In [29]:
dataset_3=pd.read_excel('5 Chi square Test.xlsx')

dataset_3.head()

     ids  Gender        Smoking
0  43783  Female      NonSmoker
1  20278  Female      NonSmoker
2  20389  Female      NonSmoker
3  22820    Male            NaN
4  24559    Male  CurrentSmoker

H0 - There is no dependency between Gender and Smoking

H1 - There is dependency between Gender and Smoking

In [30]:
from scipy.stats import chi2_contingency
chitable = pd.crosstab(dataset_3.Gender, dataset_3.Smoking)
chitable

Smoking  CurrentSmoker  NonSmoker  PastSmoker
Gender
Female              31        149          13
Male                37        148          24

In [31]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

3.1712567666931584 0.20481904779163013
null hypothesis H0 is accepted

 # Parametric Tests

# One Sample T Test

In [33]:
dataset_4=pd.read_excel('1. One Sample.xlsx')
dataset_4.head()

     ids  Height
0  43783   72.35
1  20278   70.66
2  20389   70.68
3  24559   67.43
4  28980   68.45

H0 - There is no significant difference between the mean of students height against population mean which is 70

H1 - There is significant difference between the mean of students height against population mean which is 70

In [35]:
from scipy.stats import ttest_1samp
stats, p = ttest_1samp(dataset_4.Height, 70)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

-7.4650728751045845 5.103454636095961e-13
alternative hypothesis H1 is accepted

# Paired sample

In [36]:
dataset_5=pd.read_excel('2. Paired Sample.xlsx')
dataset_5.head()

     ids  English   Math
0  43783    88.24  60.02
1  20278    89.45  70.19
2  20389    96.73  71.20
3  22820    74.06  55.89
4  24559    82.61  65.52

H0 - There is no significant difference in the mean of students English and Maths marks
H1 - There is significant difference in the mean of students English and Maths marks

In [37]:
from scipy.stats import ttest_rel
stats, p = ttest_rel(dataset_5.English, dataset_5.Math)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

36.312568981719856 3.0710987192210606e-128
alternative hypothesis H1 is accepted

# Independent T Test

In [38]:
dataset_6=pd.read_excel('3 Independent Sample.xlsx')
dataset_6.head()

   Nonathelete  Athelete
0     0.004413  0.004462
1     0.004872  0.005146
2     0.008851  0.004023
3     0.006508  0.003941
4     0.006314  0.004764

H0 -There is no significant difference in the mean of duration between Athletes and Non Athletes

H1 -There is no significant difference in the mean of duration between Athletes and Non Athletes

In [42]:
from scipy.stats import ttest_ind
stats, p = ttest_ind(dataset_6.Nonathelete, dataset_6.Athelete)
print(stats,p)
if(p>0.05):
    print("null hypothesis H0 is accepted")
else:
    print("alternative hypothesis H1 is accepted")

2.129428698191347 0.06585151474102408
null hypothesis H0 is accepted